@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

:root {
    --clr-pro: #333;
    --clr-sec: rgb(125, 70, 136);
    --border: rgba(255, 255, 255, 0.61);
    --background: #cfe6e7;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    color: var(--clr-pro);
}
h4 {
    font-size: 3rem;
    margin: 0rem;
}

.number {
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 20px;
    color: var(--clr-sec);
}

.btn {
    margin: 10px;
    font-size: 1rem;
    padding: 4px 8px;
    letter-spacing: 0.1rem;
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid var(--border);
    box-shadow: 0 2px 5px rgba(85, 85, 85, 0.288);
}

.btn:hover {
    background-color: var(--clr-sec);
    color: #fff;
}
